
body, 
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 200px;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  background: blue;
  
}

.swipe-wrap > div:nth-child(odd) {
  background: red;
}